<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Web Page 2025 / Background </title>
    <!-- Traer los Style -->
    <link rel="stylesheet" href="../css/backgroundStyle.css">
</head>
<body>
    <h1>Ejemplos de fondo CSS</h1>
    
    <!-- Background Color -->
     <div class="background-color-ex">
        <p>Ejemplo de Background Color </p>
     </div>
     
    <!-- Background image -->
     <div class="background-img-ex">
        <p>Ejemplo de Background Image</p>
     </div>

    <!-- Background repeat -->
     <div class="background-rep-ex">
        <p>Ejemplo de Background Repeat</p>
     </div>

    <!-- Background attachment -->
     <div class="background-atta-ex">
        <p>Ejemplo de Background Attachment</p>
     </div>

    <!-- Background position -->
     <div class="background-pos-ex">
        <p>Ejemplo de Background Position</p>
     </div>

</body>
</html>

